[user]
    email = sumner.evans98@gmail.com
    name = Sumner Evans
    signingkey = 8904527AB50022FD

[core]
    editor = nvim
    excludesfile = ~/dotfiles/.gitignore_global

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[commit]
    gpgsign = true
