# Ignore everything
*

# Unignore folders and gitignore
!*/
!.gitignore

# Re-ignore projects
programming
projects
school

!.config/i3/*
!.config/i3blocks/*
!.config/i3status/*

!.urxvt/*

.vim/bundle/*
!.vim/colors/*
.vim/colors/lanox-vim-theme
!.vim/tern-complete/*
!.vim/.vimrc

!.vimperator/colors/*

!.clang-format
!.ideavimrc
!.jsbeautifyrc
!.jshintrc
!.vimperatorrc
!.xbindkeysrc
!.xinitrc
!.Xmodmap
!.Xresources
!.ycm_extra_conf.py
!.zshrc
