# Ignore everything
*

# Unignore folders and gitignore
!*/
!.gitconfig
!.gitignore
!.gitmodules

# Re-ignore projects
programming
presentations
projects
school

!README.md

.config/chromium/*
.config/discord/*
!.config/networkmanager-dmenu/config.ini
!.config/i3/*
!.config/i3blocks/*
!.config/i3status/*
!.config/ranger/rc.conf
!.config/pgcli/config

!.mutt/**
.mutt/temp
.mutt/aliases

.vim/bundle/*
!.vim/colors/*
.vim/colors/lanox-vim-theme
!.vim/tern-complete/*
!.vim/vimrc
!.vim/shortcuts

!.clang-format
!.pentadactylrc
!.eslintrc.js
!fonts.config
!.ideavimrc
!.jsbeautifyrc
!.jshintrc
!.gvimrc
!.pylintrc
!.stylelintrc
!.urxvt/*
!.vimperator/colors/*
!.vimperatorrc
!.xbindkeysrc
!.xinitrc
!.Xmodmap
!.Xresources
!.ycm_extra_conf.py
!.config/zathura
!.zshrc

!vimfx-config
