! Fonts {{{
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintmedium
Xft.dpi:        180
Xft.lcdfilter:  lcddefault
! }}}

! Cursor
Xcursor.theme:                          Breeze
Xcursor.size:                           16

! Rofi
rofi.color-enabled:                     true
rofi.color-window:                      #002b37, #002b37, #003642
rofi.color-normal:                      #002b37, #819396, #003643, #008ed4, #ffffff
rofi.color-active:                      #002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent:                      #002b37, #da4281, #003643, #008ed4, #890661
rofi.lines:                             15
rofi.width:                             30
rofi.font:                              pango:Iosevka Term 20
rofi.padding:                           10
rofi.line-margin:                       7
rofi.location:                          2
rofi.yoffset:                           80

! URxvt
URxvt*background:                       #0C0C0C
URxvt*foreground:                       #E6E6E6

!blue
*color12: #46aede

URxvt*scrollBar:                        false
!URxvt*font:                             xft:Iosevka Nerd Font:size=10,Iosevka Term:size=10,
URxvt*font:                             xft:Iosevka Term:size=10,\
                                        xft:DejaVu Sans Mono For Powerline Nerd Font:size=10:antialias=true:hinting=true,\
                                        xft:SauceCodePro Nerd Font:size=10:antialias=true:hinting=true
URxvt*title:                            Terminal
URxvt*perl-ext-common:                  default,matcher,font-size
URxvt*matcher.button:                   1
URxvt*url-launcher:                     /usr/bin/xdg-open

URxvt.iso14755:                         False
URxvt.keysym.C-Up:                      font-size:increase
URxvt.keysym.C-Down:                    font-size:decrease
URxvt.keysym.C-S-Up:                    font-size:incglobal
URxvt.keysym.C-S-Down:                  font-size:decglobal

! Xterm
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.saveLines: 4096
XTerm.vt100.foreground: white
XTerm.vt100.background: black
XTerm.vt100.faceName: Iosevka Term:size=10
XTerm.vt100.font: 7x13

! Scrensaver
xscreensaver.logFile:/tmp/xscreensaver.log
xscreensaver.verbose:true
